.fond {
    background: url('http://d0cdn.artquid.com/art/3/33/205148.1128040546.1.575.jpg');
    padding-top: 20%;
    margin-top: 2%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.paragraphe {
    margin-top: 2%;
}

img {
    width: 95%;
}

@media screen and (max-width:500px) {
    .fond {
        height: 200px;
    }
}